@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222.9 19.3% 8.6%;
    --foreground: 210 40% 98%;
    --card: 222.9 19.3% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222.9 19.3% 8.6%;
    --popover-foreground: 210 40% 98%;
    --primary: 258.1 87.3% 65.7%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 260.4 89.8% 76.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 260.4 89.8% 76.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.9 19.3% 8.6%;
    --foreground: 210 40% 98%;
    --card: 222.9 19.3% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222.9 19.3% 8.6%;
    --popover-foreground: 210 40% 98%;
    --primary: 258.1 87.3% 65.7%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 260.4 89.8% 76.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 260.4 89.8% 76.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
    background-color: #12121A;
    background-image: radial-gradient(ellipse 80% 50% at 50% -20%,hsla(258, 87%, 66%, 0.2), hsla(0,0%,100%,0));
  }
}
